[Unit]
Description=Firedancer Configure Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "sudo {{ fd_workdir }}/{{ fd_bin }} configure init all --config {{ fd_config_dir }}/{{ fd_config_file }}"

[Install]
WantedBy=multi-user.target